<div class="announcement-item {{message.isRead ? 'is-read' : 'is-unread'}}"
     ng-click="toggleMessageOpen()"
     ng-controller="announcementListItemCtrl"
     ng-repeat="message in data track by message.id">
  <div class='unread-bullet {{message.isRead ? "" : "fa fa-circle"}}'></div>
  <div class='name'>{{message.sender.displayName}}</div>
  <div class="announcement-parts {{closed ? 'closed' : ''}}" ng-repeat="part in message.parts">
    <div ng-include="'src/partials/announcements/' + getPartTemplate(part)"></div>
  </div>
  <div class="timestamp">
    {{getMessageDate(message)}}
  </div>
</div>
