<div class='participant-list-container dialog-container' ng-controller="participantsDialogCtrl" ng-click="$event.stopPropagation()">
    <div class="panel-header">
        <span class="title">Select Participants</span>
    </div>
    <layer-identities-list
        ng-app-id="appCtrlState.client.appId"
        ng-identity-selected="onIdentitySelectionChange"
        ng-selected-identity="selectedIdentities"
        >
    </layer-identities-list>
    <div class="button-panel">
      <button class="button-ok" ng-click="createConversation()">OK</button>
    </div>
</div>