<div ng-controller='chatCtrl'>
  <div class="messenger">
    <div class="left-panel"
         ng-controller="conversationListCtrl">

        <div class="panel-header conversations-header"
              ng-include="'partials/left-column-header.html'">
        </div>
        <div class="conversation-list"
              ng-include="'partials/conversation-list.html'">
        </div>
    </div>

    <div class="right-panel">
      <div ng-include="'partials/conversation-panel.html'"></div>
    </div>
    <div
      class="announcements-dialog dialog"
      ng-show="chatCtrlState.showAnnouncements"
      ng-click="chatCtrlState.showAnnouncements = false"
      ng-controller="announcementDialogCtrl">
      <div ng-include="'partials/announcements/message-list.html'"></div>
    </div>
    <div
      class="participants-dialog dialog"
      ng-show="chatCtrlState.showParticipants"
      ng-click="chatCtrlState.showParticipants = false"
      ng-controller="participantsDialogCtrl">
      <div ng-include="'partials/participants-dialog.html'"></div>
    </div>
  </div>
</div>
