<div class='participant-list-container dialog-container' ng-controller="participantsDialogCtrl" ng-click="$event.stopPropagation()">
    <div class="panel-header">
        <span class="title">Select Participants</span>
    </div>
    <div class='participant-list'>
      <div class="participant-item" ng-repeat="user in appCtrlState.users track by user.id">
        <div class="avatar-image">
          <div class="{{'layer-presence layer-presence-' + user.status.toLowerCase()}}"></div>
          <img src="{{user.avatarUrl}}" />
        </div>
        <label for="{{'participant-checkbox-' + user.id}}">{{user.displayName}}</label>
        <input value={{user.userId}}
              id="{{'participant-checkbox-' + user.id}}"
              type="checkbox"
              name="userList" />
      </div>
    </div>
    <div class="button-panel">
      <button class="button-ok" ng-click="createConversation()">OK</button>
    </div>
</div>